<div class="container">
<form class="cent">
<div class="wrapper">
    <div class="login-text"></div>
  <!--     <button class="cta"><i class="fas fa-chevron-down fa-1x"></i></button> -->
  <!--     <div class="text">
        <a href="">Login</a>
        <hr>
        <br>
        <input type="text" placeholder="Username">
        <br>
        <input type="password" placeholder="Password">
        <br>
        <button class="login-btn">Log In</button>
        <button class="signup-btn">Sign Up</button>
      </div> -->
    <div class="call-text">
      <h1><strong>"Binding <span>people</span> since ages."</strong></h1>
      <h3><strong>The website which lets you save all your connections at one place<br>and you can access your contacts at anytime,from anywhere.</strong></h3>
      <button  routerLink="/firstpage">Signin</button>&nbsp; &nbsp;
      <button routerLink="/registerpg">Signup</button>
    </div>
    </div>
</form>
  </div>