<div class="container">
    <div class="form">
        <h2>ADD NEW CONTACT</h2>
        <form #dataForm="ngForm" (ngSubmit)="addDataForm()">
            <div [class]="isError?'alert alert-danger':'d-none'">{{message}}</div>
            <div [class]="isSuccess?'alert alert-success':'d-none'">{{message}}</div>
        <div class="input">
            <div class="inp">
            <div class="inputBox">
                <label for="">Name</label>
                <input type="text" name="Name" required #myname="ngModel" [class.is-invalid]="myname.errors&&myname.touched" [(ngModel)]="contactin.contactName">
            </div>
            <div *ngIf="myname.errors&&myname.touched">
                <div class="text-danger" *ngIf="myname.errors.required">FullName is required</div>
            </div>
            </div>
            <div class="inp">
            <div class="inputBox">
              <label for="">Email</label>
              <input type="text" name="mail"  email required #emailmy="ngModel" [class.is-invalid]="myname.errors&&myname.touched"  [(ngModel)]="contactin.contactEmail">
          </div>
          <div *ngIf="emailmy.errors&&emailmy.touched">
            <div class="text-danger" *ngIf="emailmy.errors.required">Email is required</div>
        </div>
        </div>
        <div class="inp">
            <div class="inputBox">
                <label for="">Phone</label>
                <input type="string" name="phone" required #phonemy="ngModel" [class.is-invalid]="phonemy.errors&&phonemy.touched"  [(ngModel)]="contactin.contactPhone">
            </div>
            <div *ngIf="phonemy.errors&&phonemy.touched">
                <div class="text-danger" *ngIf="phonemy.errors.required">Phone Number is required</div>
                
            </div>
            </div>
            <div class="inp">
            <div class="inputBox">
                <label for="">Contact Type</label>
                <input type="text"  name="Type" required #type="ngModel" [class.is-invalid]="type.errors&&type.touched"  [(ngModel)]="contactin.contactType">
            </div>
            <div *ngIf="type.errors&&type.touched">
                <div class="text-danger" *ngIf="type.errors.required">Contact type is required</div>
            </div>
        </div>
            <div class="inputBox">
                <input type="submit" name="validation" id="signin" [disabled]="dataForm.form.invalid" value="Add"> 
            </div>
        </div>
        </form>
    </div>
</div>


